{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <div class="row mx-auto">
        <h3>Historial de Plaza</h3>
        <a class="btn" href="{{path("plaza_index")}}" role="button" >
            <img id="imgBack" src="{{ asset('image/reply.svg') }}" style="width:30px;height:30px;border:0;">
        </a>
        </div>
        <hr/>
        {% if activado == true %}
            <a href="{{path("plazaHistorial_add", {"plazaId":plazaId})}}" class="btn btn-success">Agregar Historial</a>
        {% else %}
            <span class="btn btn-outline-dark">Agregar Historial</span>
        {% endif %}
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Baja</th>
                    <th>Personal</th>
                    <th>Tipo Planilla</th>
                    <th>Plaza</th>
                </tr>
            </thead>
            <tbody>
                {% for plazaHistorial in plazaHistorials %}
                    <tr {% if plazaHistorial.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("plazaHistorial_edit",{"id":plazaHistorial.id})}}" class="btn btn-warning ">{{ plazaHistorial.secPersonal }}</a></td>
                        <td>
                            {% if plazaHistorial.estado == true %}
                                <a href="{{path("plazaHistorial_baja",{"id":plazaHistorial.id})}}" class="btn btn-danger">X</a>
                            {% else %}
                                <span class="btn btn-outline-dark">X</span>
                            {% endif%}
                        </td>
                        <td>{{ plazaHistorial.codPersonal.apellidoPaterno }} {{ plazaHistorial.codPersonal.apellidoMaterno }}, {{ plazaHistorial.codPersonal.nombre }}</td>
                        <td>{{ plazaHistorial.plaza.tipoPlanilla.nombre }}</td>
                        <td>{{ plazaHistorial.plaza.numPlaza }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 6,
                "bLengthChange": false,
                "autoWidth": false,
                "searching": false
            });
        });
    </script>
{% endblock %}