{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h2>Lista de Tipos de Documento</h2>
        <hr/>
        <a href="{{ path("tipoDoc_add") }}" class="btn btn-success">Añadir Tipo de Documento</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for tipoDoc in tipoDocs %}
                <tr {% if tipoDoc.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("tipoDoc_edit",{"id":tipoDoc.id})}}" class="btn btn-warning ">{{ tipoDoc.id }}</a></td>
                    <td>{{ tipoDoc.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}