{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Tipos de Documento</h3>
        <hr/>
        <a href="{{ path("tipoDoc_add") }}" class="btn btn-success">Agregar Tipo de Documento</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for tipoDoc in tipoDocs %}
                    <tr {% if tipoDoc.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("tipoDoc_edit",{"id":tipoDoc.id})}}" class="btn btn-warning ">{{ tipoDoc.id }}</a></td>
                        <td>{{ tipoDoc.nombre }}</td>
                        <td>{{ tipoDoc.estado}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[ 2, 'desc' ]],
                "aoColumnDefs": [{ "bVisible": false, "aTargets": [2] }]
            });
        });
    </script>
{% endblock %}