{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Condiciones Laborales</h3>
        <hr/>
        <a href="{{ path("condicionLaboral_add") }}" class="btn btn-success">Agregar Condición Laboral</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for condicionLaboral in condicionLaborals %}
                <tr {% if condicionLaboral.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("condicionLaboral_edit",{"id":condicionLaboral.id})}}" class="btn btn-warning ">{{ condicionLaboral.id }}</a></td>
                    <td>{{ condicionLaboral.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}