{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Funciones</h3>
        <hr/>
        <a href="{{ path("funcion_add") }}" class="btn btn-success">Agregar Función</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table height="328px;" id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Funcion</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for funcion in funcions %}
                    <tr {% if funcion.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("funcion_edit",{"id":funcion.id})}}" class="btn btn-warning ">{{ funcion.id }}</a></td>
                        <td>{{ funcion.anoEje }}</td>
                        <td>{{ funcion.funcion }}</td>
                        <td>{{ funcion.nombre }}</td>
                        <td>{{ funcion.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[0, 'desc'], [4, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [4]}],
                "language": {
                    "info": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 al 0 de 0 registros",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
{% endblock %}