{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-4">
        <h4>Editar Planilla</h4>
        <hr/>
        {{form_start(form)}}
        {{form_row(form.tipoConcepto, {'id': 'tipoConcepto' }) }} 
        {{form_row(form.concepto, {'id': 'concepto' }) }} 
        {{form_end(form,{'action':'', 'method':'POST'})}}
    </div>
    <script>
        $('#tipoConcepto').change(function () {
            var tipoConcepto = $(this);
            $.ajax({
                    url: "{{ path('planillaHasConcepto_ajax_concepto') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    tipoConcepto: tipoConcepto.val(),
                        planilla: "{{ planillaId }}"
                },
                success: function (conceptos) {
                    var concepto = $("#concepto");
                    concepto.find('option').remove().end(); //Borramos todos los items del select
                    var option = document.createElement("option");
                    for (var i = 0; i < conceptos.length; i++) {
                        var option = document.createElement("option"); //Creas el elemento opción
                        $(option).html(conceptos[i]); //Escribes en él el nombre de la provincia
                        $(option).val(conceptos[i].id);
                        $(option).text(conceptos[i].concepto);
                        $(option).appendTo("#concepto"); //Lo metes en el select con id provincias
                    }

                },
                error: function (err) {
                    alert("An error ocurred while loading data ... ");
                }
            });
        });
    </script>
{% endblock %}
