{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Conceptos de Planilla {{ personal.cadena }}</h3>
        <hr/>
        <a href="{{ path("planillaHasConcepto_add",{"planillaId":planillaId,"tipoConcepto":1}) }}" class="btn btn-success">Agregar Ingreso</a>
        <a href="{{ path("planillaHasConcepto_add",{"planillaId":planillaId,"tipoConcepto":2}) }}" class="btn btn-success">Agregar Egreso</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for planillaHasConcepto in planillaHasConceptos %}
                    <tr>
                        <td><a href="" class="btn btn-warning">{{ planillaHasConcepto.concepto.id }}</a></td>
                        <td>{{ planillaHasConcepto.concepto.tipoConcepto.nombre }}</td>
                        <td>{{ planillaHasConcepto.concepto.concepto }}</td>
                        <td>{{ planillaHasConcepto.monto }}</td>
                        <td><a href="" class="btn btn-danger">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 4,
                "bLengthChange": false,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}