{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <div class="row mx-auto">
            <h4>CONCEPTOS DE PLANILLA {{ planilla.mesEje.nombre }} {{ planilla.anoEje }} - {{ planilla.plazaHistorial.codPersonal.cadena }}</h4>
            <a class="btn" href="{{path("planilla_index")}}" role="button" >
                <img id="imgBack" src="{{ asset('image/reply.svg') }}" style="width:30px;height:30px;border:0;">
            </a>
        </div>
        <hr/>
        <div class="row mx-auto">
            <div>
                <a class="btn btn-success" href="{{ path("planillaHasConcepto_add",{"planillaId":planillaId}) }}" role="button">Agregar Concepto</a>
            </div>
            {% if planilla.plazaHistorial.plaza.tipoPlanilla.id != 2 and planilla.plazaHistorial.plaza.tipoPlanilla.id != 3%}
                <hr/>
                <div class="d-block d-sm-none"><br><br></div>
                <div>
                    <a class="btn btn-success" href="{{ path("planillaHasConcepto_tardanzas",{"planillaId":planillaId}) }}" role="button">Inasistencias y Tardanzas</a>
                </div>
            {% endif %}
        </div>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for planillaHasConcepto in planillaHasConceptos %}
                    <tr>
                        <td><a href="{{ path("planillaHasConcepto_edit",{"id":planillaHasConcepto.id}) }}" class="btn btn-warning">{{ planillaHasConcepto.concepto.id }}</a></td>
                        <td>{{ planillaHasConcepto.concepto.tipoConcepto.nombre }}</td>
                        <td>{{ planillaHasConcepto.concepto.concepto }}</td>
                        <td class="text-right">{{ planillaHasConcepto.monto }}</td>
                        <td><a href="{{ path("planillaHasConcepto_delete",{"id":planillaHasConcepto.id}) }}" class="btn btn-danger">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>
    <div class="row mx-auto">
        <div class="alert alert-info">
            <span >REMUNERACIÓN ASEGURABLE: {{ planilla.remAseg }}</span>
        </div>
        <hr/>
        <div class="alert alert-info">
            <span >REMUNERACIÓN NO ASEGURABLE: {{ planilla.remNoAseg }}
        </div>
        <hr/>
        <div class="alert alert-info">
            <span >TOTAL EGRESOS: {{ planilla.totalEgreso }}
        </div>
        <hr/>
        <div class="alert alert-info">
            <span >CUOTA PATRONAL: {{ planilla.patronal }}
        </div>
        <hr/>

    </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 4,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[1, 'desc'], [0, 'asc']]
            });
        });
    </script>
{% endblock %}