{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Conceptos de Planilla {{ planilla.plazaHistorial.codPersonal.cadena }}</h3>
        <hr/>
        <div class="row mx-auto">
                <a href="{{ path("planillaHasConcepto_add",{"planillaId":planillaId}) }}" role="button" class="btn btn-success">Agregar Concepto</a>
                {% if planilla.plazaHistorial.plaza.tipoPlanilla.id == 1 or planilla.plazaHistorial.plaza.tipoPlanilla.id == 4%}
                <hr/>
                <a href="" role="button" class="btn btn-success">Inasistencias y Tardanzas</a>
                {% endif %}
            </div>
            <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for planillaHasConcepto in planillaHasConceptos %}
                    <tr>
                        <td><a href="{{ path("planillaHasConcepto_edit",{"id":planillaHasConcepto.id}) }}" class="btn btn-warning">{{ planillaHasConcepto.concepto.id }}</a></td>
                        <td>{{ planillaHasConcepto.concepto.tipoConcepto.nombre }}</td>
                        <td>{{ planillaHasConcepto.concepto.concepto }}</td>
                        <td>{{ planillaHasConcepto.monto }}</td>
                        <td><a href="{{ path("planillaHasConcepto_eliminar",{"id":planillaHasConcepto.id}) }}" class="btn btn-danger">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row mx-auto">
            <div class="alert alert-info">
                <span >REMUNERACIÓN ASEGURABLE: {{ planilla.remAseg }}</span>
            </div>
            <hr/>
            <div class="alert alert-info">
                <span >REMUNERACIÓN NO ASEGURABLE: {{ planilla.remNoAseg }}
            </div>
            <hr/>
            <div class="alert alert-info">
                <span >TOTAL EGRESOS: {{ planilla.totalEgreso }}
            </div>
        </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 4,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[1, 'desc'], [0, 'asc']]
            });
        });
    </script>
{% endblock %}