{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Categorías Ocupacionales</h3>
        <hr/>
        <a href="{{ path("categoriaOcupacional_add") }}" class="btn btn-success">Agregar Categoría Ocupacional</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for categoriaOcupacional in categoriaOcupacionals %}
                <tr {% if categoriaOcupacional.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("categoriaOcupacional_edit",{"id":categoriaOcupacional.id})}}" class="btn btn-warning ">{{ categoriaOcupacional.id }}</a></td>
                    <td>{{ categoriaOcupacional.categoriaOcupacional }}</td>
                    <td>{{ categoriaOcupacional.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}