{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Grupos Ocupacionales</h3>
        <hr/>
        <a href="{{ path("grupoOcupacional_add") }}" class="btn btn-success">Agregar Grupo Ocupacional</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for grupoOcupacional in grupoOcupacionals %}
                    <tr {% if grupoOcupacional.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("grupoOcupacional_edit",{"id":grupoOcupacional.grupoOcupacional})}}" class="btn btn-warning ">{{ grupoOcupacional.grupoOcupacional }}</a></td>
                        <td>{{ grupoOcupacional.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}