{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h2>Lista de Divisiones Funcionales</h2>
        <hr/>
        <a href="{{ path("divfunc_add") }}" class="btn btn-success">A침adir Divisi칩n Funcional</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>A침o</th>
                <th>Divisi칩n</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for divfunc in divfuncs %}
                <tr {% if divfunc.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("divfunc_edit",{"id":divfunc.id})}}" class="btn btn-warning ">{{ divfunc.id }}</a></td>
                    <td>{{ divfunc.anoEje }}</td>
                    <td>{{ divfunc.divfunc }}</td>
                    <td>{{ divfunc.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}