{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Divisiones Funcionales</h3>
        <hr/>
        <a href="{{ path("divfunc_add") }}" class="btn btn-success">Agregar División Funcional</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>División</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for divfunc in divfuncs %}
                    <tr {% if divfunc.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("divfunc_edit",{"id":divfunc.id})}}" class="btn btn-warning ">{{ divfunc.id }}</a></td>
                        <td>{{ divfunc.anoEje }}</td>
                        <td>{{ divfunc.divfunc }}</td>
                        <td>{{ divfunc.nombre }}</td>
                        <td>{{ divfunc.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[0, 'desc'], [4, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [4]}]
            });
        });
    </script>
{% endblock %}