{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-5">
        <h3>Lista de Ejecutoras</h3>
        <hr/>
        <a href="{{ path("ejecutora_add") }}" class="btn btn-success">Agregar Ejecutora</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Año</th>
                <th>Sector</th>
                <th>Pliego</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for ejecutora in ejecutoras %}
                <tr {% if ejecutora.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("ejecutora_edit",{"id":ejecutora.id})}}" class="btn btn-warning ">{{ ejecutora.id }}</a></td>
                    <td>{{ ejecutora.pliego.sector.anoEje }}</td>
                    <td>{{ ejecutora.pliego.pliego }}</td>
                    <td>{{ ejecutora.secEjec }}</td>
                    <td>{{ ejecutora.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}