{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Ejecutoras</h3>
        <hr/>
        <a href="{{ path("ejecutora_add") }}" class="btn btn-success">Agregar Ejecutora</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Sector</th>
                    <th>Pliego</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for ejecutora in ejecutoras %}
                    <tr {% if ejecutora.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("ejecutora_edit",{"id":ejecutora.id})}}" class="btn btn-warning ">{{ ejecutora.id }}</a></td>
                        <td>{{ ejecutora.pliego.sector.anoEje }}</td>
                        <td>{{ ejecutora.pliego.pliego }}</td>
                        <td>{{ ejecutora.secEjec }}</td>
                        <td>{{ ejecutora.nombre }}</td>
                        <td>{{ ejecutora.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[0, 'desc'],[5, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [5]}]
            });
        });
    </script>
{% endblock %}