{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Pliegos</h3>
        <hr/>
        <a href="{{ path("pliego_add") }}" class="btn btn-success">Agregar Pliego</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table height="328px;" id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Sector</th>
                    <th>Pliego</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for pliego in pliegos %}
                    <tr {% if pliego.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("pliego_edit",{"id":pliego.id})}}" class="btn btn-warning ">{{ pliego.id }}</a></td>
                        <td>{{ pliego.sector.anoEje }}</td>
                        <td>{{ pliego.sector.nombre }}</td>
                        <td>{{ pliego.pliego }}</td>
                        <td>{{ pliego.nombre }}</td>
                        <td>{{ pliego.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[0, 'desc'],[5, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [5]}],
                "language": {
                    "info": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 al 0 de 0 registros",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
{% endblock %}