{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-5">
        <h3>Lista de Pliegos</h3>
        <hr/>
        <a href="{{ path("pliego_add") }}" class="btn btn-success">Agregar Pliego</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Año</th>
                <th>Sector</th>
                <th>Pliego</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for pliego in pliegos %}
                <tr {% if pliego.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("pliego_edit",{"id":pliego.id})}}" class="btn btn-warning ">{{ pliego.id }}</a></td>
                    <td>{{ pliego.sector.anoEje }}</td>
                    <td>{{ pliego.sector.nombre }}</td>
                    <td>{{ pliego.pliego }}</td>
                    <td>{{ pliego.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}