{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Específicas</h3>
        <hr/>
        <a href="{{ path("especifica_add") }}" class="btn btn-success">Agregar Específica de gasto</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Año</th>
                <th>Específica</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for especifica in especificas %}
                <tr {% if especifica.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("especifica_edit",{"id":especifica.id})}}" class="btn btn-warning ">{{ especifica.id }}</a></td>
                    <td>{{ especifica.anoEje }}</td>
                    <td>{{ especifica.especifica }}</td>
                    <td>{{ especifica.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}