{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h2>Lista de Usuarios</h2>
        <hr/>
        <a href="{{ path("usuario_add") }}" class="btn btn-success">Añadir usuario</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombres }}</td>
                    <td>{{ usuario.apellidos}}</td>
                    <td>{{ usuario.dni }}</td>
                    <td><a href="{{path("usuario_edit",{"id":usuario.id})}}" class="btn btn-warning">Editar</a></td>
                    <td><a href="{{path("usuario_delete",{"id":usuario.id})}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}