{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Usuarios</h3>
        <hr/>
        <a href="{{ path("usuario_add") }}" class="btn btn-success">Agregar usuario</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cargo</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td><a href="{{path("usuario_edit",{"id":usuario.id})}}" class="btn btn-warning">{{ usuario.id }}</a></td>
                        <td>{{ usuario.nombres }}</td>
                        <td>{{ usuario.apellidos}}</td>
                        <td>{{ usuario.cargo }}</td>
                        <td>{{ usuario.dni }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}