{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h2>Lista de Actividades</h2>
        <hr/>
        <a href="{{ path("actividad_add") }}" class="btn btn-success">Añadir Actividades</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Año</th>
                <th>Actividad</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for actividad in actividades %}
                <tr {% if actividad.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("actividad_edit",{"id":actividad.id})}}" class="btn btn-warning ">{{ actividad.id }}</a></td>
                    <td>{{ actividad.anoEje }}</td>
                    <td>{{ actividad.actProy }}</td>
                    <td>{{ actividad.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}