{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Actividades</h3>
        <hr/>
        <a href="{{ path("actividad_add") }}" class="btn btn-success">Agregar Actividades</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Actividad</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for actividad in actividades %}
                    <tr {% if actividad.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("actividad_edit",{"id":actividad.id})}}" class="btn btn-warning ">{{ actividad.id }}</a></td>
                        <td>{{ actividad.anoEje }}</td>
                        <td>{{ actividad.actProy }}</td>
                        <td>{{ actividad.nombre }}</td>
                        <td>{{ actividad.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[0, 'desc'], [4, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [4]}]
            });
        });
    </script>
{% endblock %}