{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Sectores</h3>
        <hr/>
        <a href="{{ path("sector_add") }}" class="btn btn-success">Agregar Sector</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
            <tr>
                <th>ID</th>
                <th>Año</th>
                <th>Sector</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for sector in sectores %}
                <tr {% if sector.estado == false %} class="table-secondary" {% endif%} >
                    <td><a href="{{path("sector_edit",{"id":sector.id})}}" class="btn btn-warning ">{{ sector.id }}</a></td>
                    <td>{{ sector.anoEje }}</td>
                    <td>{{ sector.sector }}</td>
                    <td>{{ sector.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}