{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Sexos</h3>
        <hr/>
        <a href="{{ path("sexo_add") }}" class="btn btn-success">Agregar Sexo</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for sexo in sexos %}
                    <tr {% if sexo.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("sexo_edit",{"id":sexo.id})}}" class="btn btn-warning ">{{ sexo.id }}</a></td>
                        <td>{{ sexo.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}