{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Tipos de Concepto</h3>
        <hr/>
        <a href="{{ path("tipoConcepto_add") }}" class="btn btn-success">Agregar Tipo de Concepto</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table height="328px;" id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for tipoConcepto in tipoConceptos %}
                    <tr {% if tipoConcepto.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("tipoConcepto_edit",{"id":tipoConcepto.id})}}" class="btn btn-warning ">{{ tipoConcepto.id }}</a></td>
                        <td>{{ tipoConcepto.nombre }}</td>
                        <td>{{ tipoConcepto.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[2, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [2]}],
                "language": {
                    "info": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 al 0 de 0 registros",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
{% endblock %}