{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h4>CONSULTA DE PLANILLAS</h4>
        <hr/>
        <div class="row mx-auto">
            <div class="col-xl-4">
                {{form_start(form)}}
                {{form_row(form.anoEje, {'id': 'anoEje' }) }}
                {{form_row(form.mesEje)}}
                {{form_row(form.tipoPlanilla)}}
                {{form_row(form.fuente, {'id': 'fuente' }) }}
                {{form_end(form,{'action':'', 'method':'POST'})}}
            </div>
            {% if sumaRemAseg != null %}
                <div class="col-xl-8">
                    <div class="float-right col-sm-auto" width="100%">
                        <table class="table-sm table-bordered col-sm-auto">
                            <tr><td colspan="2" class="text-center"><b>RESUMEN DE PLANILLA</b></td></tr>
                            <tr><td>Rem. Asegurable</td><td class="text-right">{{ sumaRemAseg|number_format(2, '.', ',') }}</td></tr>
                            <tr><td>Rem. No Asegurable</td><td class="text-right">{{ sumaRemNoAseg|number_format(2, '.', ',') }}</td></tr>
                            <tr><td>Total de Ingresos</td><td class="text-right">{{ (sumaRemAseg + sumaRemNoAseg)|number_format(2, '.', ',') }}</td></tr>
                            <tr><td colspan="2"></td></tr>
                            <tr><td>Total de Egresos</td><td class="text-right">{{ sumaTotalEgreso|number_format(2, '.', ',') }}</td></tr>
                            <tr><td><b>Total Neto</b></td><td class="text-right"><b>{{ (sumaRemAseg + sumaRemNoAseg - sumaTotalEgreso)|number_format(2, '.', ',') }}</b></td></tr>
                            <tr></tr>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Tipo</th>
                    <th>Plaza</th>
                    <th>Conceptos</th>
                    <th>Personal</th>
                    <th>Rem Aseg</th>
                    <th>Rem NoAseg</th>
                    <th>Egresos</th>
                    <th>Neto</th>
                </tr>
            </thead>
            <tbody>
                {% for planilla in planillas %}
                    <tr>
                        <td>{{ planilla.id }}</td>
                        <td>{{ planilla.anoEje }}</td>
                        <td>{{ planilla.mesEje.nombre }}</td>
                        <td>{{ planilla.plazaHistorial.plaza.tipoPlanilla.nombre }}</td>
                        <td>{{ planilla.plazaHistorial.plaza.numPlaza }}</td>
                        <td><a href="{{path("planillaHasConcepto_consulta",{"planillaId":planilla.id})}}" class="btn btn-info">MOSTRAR</a></td>
                        <td>{{ planilla.plazaHistorial.codPersonal.cadena }}</td>
                        <td class="text-right">{{ planilla.remAseg|number_format(2, '.', ',') }}</td>
                        <td class="text-right">{{ planilla.remNoAseg|number_format(2, '.', ',') }}</td>
                        <td class="text-right">{{ planilla.totalEgreso|number_format(2, '.', ',') }}</td>
                        <td class="text-right">{{ (planilla.remAseg + planilla.remNoAseg - planilla.totalEgreso)|number_format(2, '.', ',')}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[3, 'asc'], [4, 'asc']]
            });
        });

        $('#anoEje').change(function () {
            var anoEje = $(this);
            $.ajax({
                url: "{{ path('planilla_ajax_fuente') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    anoEje: anoEje.val()
                },
                success: function (fuentes) {
                    var fuente = $("#fuente");
                    fuente.find('option').remove().end(); //Borramos todos los items del select
                    var option = document.createElement("option");
                    for (var i = 0; i < fuentes.length; i++) {
                        var option = document.createElement("option"); //Creas el elemento opción
                        $(option).html(fuentes[i]); //Escribes en él el nombre de la provincia
                        $(option).val(fuentes[i].id);
                        $(option).text(fuentes[i].nombre);
                        $(option).appendTo("#fuente"); //Lo metes en el select con id provincias
                    }

                },
                error: function (err) {
                    alert("An error ocurred while loading data ... ");
                }
            });
        });
    </script>
{% endblock %}