{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h4>PROCESAMIENTO DE PLANILLAS {{ mesEje }} {{ anoEje }}</h4>
        <hr/>
        <a href="{{ path("planilla_add") }}" class="btn btn-success">Agregar Planilla</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table height="380px;" id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Plaza</th>
                    <th>Conceptos</th>
                    <th>Personal</th>
                    <th>Rem Aseg</th>
                    <th>Rem NoAseg</th>
                    <th>Egresos</th>
                    <th>Neto</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for planilla in planillas %}
                    <tr>
                        <td><a href="{{path("planilla_edit",{"id":planilla.id})}}" class="btn btn-warning ">{{ planilla.id }}</a></td>
                        <td>{{ planilla.plazaHistorial.plaza.tipoPlanilla.nombre }}</td>
                        <td>{{ planilla.plazaHistorial.plaza.numPlaza }}</td>
                        <td><a href="{{path("planillaHasConcepto_index",{"planillaId":planilla.id})}}" class="btn btn-info">MOSTRAR</a></td>
                        <td>{{ planilla.plazaHistorial.codPersonal.cadena }}</td>
                        <td class="text-right">{{ planilla.remAseg|number_format(2, '.', ',') }}</td>
                        <td class="text-right">{{ planilla.remNoAseg|number_format(2, '.', ',') }}</td>
                        <td class="text-right">{{ planilla.totalEgreso|number_format(2, '.', ',') }}</td>
                        <td class="text-right">{{ (planilla.remAseg + planilla.remNoAseg - planilla.totalEgreso)|number_format(2, '.', ',')}}</td>
                        <td><a href="{{ path("planilla_delete",{"id":planilla.id}) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro?');">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[1, 'asc'], [2, 'asc']],
                "language": {
                    "info": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 al 0 de 0 registros",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
{% endblock %}