{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Procesamiento de Planillas</h3>
        <hr/>
        <a href="{{ path("planilla_add") }}" class="btn btn-success">Agregar Planilla</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Tipo</th>
                    <th>Plaza</th>
                    <th>Conceptos</th>
                    <th>Personal</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for planilla in planillas %}
                    <tr>
                        <td><a href="{{path("planilla_edit",{"id":planilla.id})}}" class="btn btn-warning ">{{ planilla.id }}</a></td>
                        <td>{{ planilla.anoEje }}</td>
                        <td>{{ planilla.mesEje.nombre }}</td>
                        <td>{{ planilla.plazaHistorial.plaza.tipoPlanilla.nombre }}</td>
                        <td>{{ planilla.plazaHistorial.plaza.numPlaza }}</td>
                        <td><a href="{{path("planillaHasConcepto_index",{"planillaId":planilla.id})}}" class="btn btn-info">MOSTRAR</a></td>
                        <td>{{ planilla.plazaHistorial.codPersonal.cadena }}</td>
                        <td><a href="{{ path("planilla_delete",{"id":planilla.id}) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro?');">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[3, 'asc'], [4, 'asc']]
            });
        });
    </script>
{% endblock %}