{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-4">
        <h4>Resumen de Metas por Específica</h4>
        {% for message in app.session.flashbag().get('status') %}
            <hr/>
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <hr/>
        {{form_start(form)}}
        {{form_row(form.anoEje, {'id': 'anoEje' }) }}
        {{form_row(form.mesEje, {'id': 'mesEje' })}}
        {{form_row(form.tipoPlanilla, {'id': 'tipoPlanilla' })}}
        {{form_row(form.especifica, {'id': 'especifica' }) }}
        {{form_end(form,{'action':'', 'method':'POST'})}}
    </div>
    <script>
        function ActualizarEspecifica() {
            var anoEje = $("#anoEje");
            var mesEje = $("#mesEje");
            var tipoPlanilla = $("#tipoPlanilla");
            $.ajax({
                url: "{{ path('planilla_ajax_meta') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    anoEje: anoEje.val(),
                    mesEje: mesEje.val(),
                    tipoPlanilla: tipoPlanilla.val()
                },
                success: function (especificas) {
                    var especifica = $("#especifica");
                    especifica.find('option').remove().end(); 
                    var option = document.createElement("option");
                    for (var i = 0; i < especificas.length; i++) {
                        var option = document.createElement("option"); 
                        $(option).html(especificas[i]); 
                        $(option).val(especificas[i].id);
                        $(option).text(especificas[i].especifica + " " + especificas[i].nombre);
                        $(option).appendTo("#especifica"); 
                    }

                },
                error: function (err) {
                    alert("Ocurrió un error mientras se cargaban los datos ... ");
                }
            });
        }
        
        $('#anoEje').change(ActualizarEspecifica);
        $('#mesEje').change(ActualizarEspecifica);
        $('#tipoPlanilla').change(ActualizarEspecifica);
    </script>
{% endblock %}
