{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Regímenes Pensionarios</h3>
        <hr/>
        <a href="{{ path("regimenPensionario_add") }}" class="btn btn-success">Agregar Régimen Pensionario</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for regimenPensionario in regimenPensionarios %}
                    <tr {% if regimenPensionario.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("regimenPensionario_edit",{"id":regimenPensionario.id})}}" class="btn btn-warning ">{{ regimenPensionario.id }}</a></td>
                        <td>{{ regimenPensionario.nombre }}</td>
                        <td>{{ regimenPensionario.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[2, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [2]}]
            });
        });
    </script>
{% endblock %}