{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div class="col-lg-6">
        <h3>Lista de Motivos de Anulación</h3>
        <hr/>
        <a href="{{ path("motivoAnulacion_add") }}" class="btn btn-success">Agregar Motivo de Anulación</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table class="table-sm table-bordered table-responsive" height="430px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for motivoAnulacion in motivoAnulacions %}
                    <tr {% if motivoAnulacion.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("motivoAnulacion_edit",{"id":motivoAnulacion.id})}}" class="btn btn-warning ">{{ motivoAnulacion.id }}</a></td>
                        <td>{{ motivoAnulacion.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}