{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}

    <div class="col-lg-4">
        <h4>Agregar Plaza</h4>
        <hr/>
        {{ form_start(form) }} 
        {{ form_row(form.tipoPlanilla, {'id': 'tipoPlanilla' }) }} 
        {{ form_row(form.numPlaza, {'id': 'numPlaza' }) }} 
        {{ form_end(form) }}
    </div>
    <script type="text/javascript">
        $('#tipoPlanilla').change(function () {
            var tipoPlanilla = $(this);
            $.ajax({
                url: "{{ path('plaza_numPlaza') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    tipoPlanilla: tipoPlanilla.val()
                },
                success: function (html) {
                    var numPlaza = $("#numPlaza");
                    numPlaza.val(html.numPlaza);
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>  
{% endblock %}
