{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Plazas</h3>
        <hr/>
            <div class="align-content-sm-start align-content-lg-start">
                <a href="{{ path("plaza_add") }}" class="btn btn-success">Agregar Plaza</a>
            </div>
        {% for message in app.session.flashbag().get('status') %}
            <hr/>
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <hr/>
        <table id="myTable" class="table-sm table-bordered table-responsive col-xs-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Historial</th>
                    <th>Tipo</th>
                    <th>Plaza</th>
                    <th>Personal</th>
                    <th>Categoría</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for plaza in plazas %}
                    <tr {% if plaza.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("plaza_edit",{"id":plaza.id})}}" class="btn btn-warning ">{{ plaza.id }}</a></td>
                        <td><a href="{{path("plazaHistorial_index",{"id":plaza.id})}}" class="btn btn-info">MOSTRAR</a></td>
                        <td>{{ plaza.tipoPlanilla.nombre }}</td>
                        <td>{{ plaza.numPlaza }}</td>
                        <td>
                            {% if plaza.plazaHistorial|length > 0 %}
                                {% for plazaHistorial in plaza.plazaHistorial %}
                                    {% if plazaHistorial.estado == 1 %}
                                        {{ plazaHistorial.codPersonal.apellidoPaterno }} {{ plazaHistorial.codPersonal.apellidoMaterno }}, {{ plazaHistorial.codPersonal.nombre }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                PLAZA VACANTE
                            {% endif %}
                        </td>
                        <td>{{ plaza.categoria.nombre }}</td>
                        <td>{{ plaza.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        //Función para enviar formulario al cambiar de tipo de planilla
        $("#tipoPlanilla").change(function () {
            jQuery("#tipoPlanilla").closest("form").submit();
        });

        //Función para implementar datatables
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[6, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [6]}]
            });
        });
    </script>
{% endblock %}