{% extends "@Planilla/general_layout.html.twig" %}
{% block content %}
    <div>
        <h3>Lista de Metas</h3>
        <hr/>
        <a href="{{ path("meta_add") }}" class="btn btn-success">Agregar Meta</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
        <table id="myTable" class="table-sm table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Meta</th>
                    <th>Finalidad</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for meta in metas %}
                    <tr {% if meta.estado == false %} class="table-secondary" {% endif%} >
                        <td><a href="{{path("meta_edit",{"id":meta.secFunc})}}" class="btn btn-warning ">{{ meta.secFunc }}</a></td>
                        <td>{{ meta.ejecutora.pliego.sector.anoEje }}</td>
                        <td>{{ meta.meta }}</td>
                        <td>{{ meta.finalidad }}</td>
                        <td>{{ meta.nombre }}</td>
                        <td>{{ meta.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "autoWidth": false,
                "order": [[0, 'desc'],[5, 'desc']],
                "aoColumnDefs": [{"bVisible": false, "aTargets": [5]}]
            });
        });
    </script>
{% endblock %}